<configuration scan="true" scanPeriod="1 minutes">
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%X{key}] %date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC+0530} %-5level %logger{35} @L%L - %msg %n</pattern>
<!--      <pattern>[%X{key}] %date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC+0530} %-5level %logger{35} @L%L - %msg %replace(%xException){'[&lt;&gt;\r\n\t]+',' '}%nopex %n</pattern> -->
    </encoder>
  </appender>

  <!-- Configure Request and Response logs, visible at DEBUG -->
  <logger name="com.vivekraman.config.TransactionLoggingFilter" level="debug">
    <appender-ref ref="stdout" />
  </logger>

  <logger name="com.vivekraman" level="info">
<!--    <appender-ref ref="stdout" />-->
  </logger>

  <root level="warn">
    <appender-ref ref="stdout" />
  </root>
</configuration>
